<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Krishna District - Tourist Places</title>
  <link rel="stylesheet" href="static/css/tourism.css">
</head>
<body>
  <h1>Tourist Places in Krishna District</h1>

  <div class="place">
    <img src="images/amaravathi_krishna.jpg" alt="Amaravathi">
    <div class="place-info">
      <h4>Amaravathi</h4>
      <p>Amaravathi is an ancient Buddhist site with ruins dating back to the 2nd century BCE. It's home to the famous Amaravathi Stupa.</p>
      <a href="https://goo.gl/maps/xyz" class="map-button" target="_blank">View on Map</a>
    </div>
  </div>

  <div class="place">
    <img src="images/vijayawada_krishna.jpg" alt="Vijayawada">
    <div class="place-info">
      <h4>Vijayawada</h4>
      <p>Vijayawada, located on the banks of the Krishna River, is known for its temples, historical monuments, and scenic beauty, such as the Prakasam Barrage.</p>
      <a href="https://goo.gl/maps/xyz" class="map-button" target="_blank">View on Map</a>
    </div>
  </div>

  <div class="place">
    <img src="images/kanaka_durga_krishna.jpg" alt="Kanaka Durga Temple">
    <div class="place-info">
      <h4>Kanaka Durga Temple</h4>
      <p>Located on Indrakeeladri Hill in Vijayawada, the Kanaka Durga Temple is dedicated to Goddess Durga and is one of the most visited temples in Andhra Pradesh.</p>
      <a href="https://goo.gl/maps/xyz" class="map-button" target="_blank">View on Map</a>
    </div>
  </div>
</body>
</html>
