<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prakasam District - Tourist Places</title>
  <link rel="stylesheet" href="static/css/tourism.css">
</head>
<body>
  <h1>Tourist Places in Prakasam District</h1>

  <div class="place">
    <img src="images/ramalayam_prakasam.jpg" alt="Ramalayam Temple">
    <div class="place-info">
      <h4>Ramalayam Temple</h4>
      <p>This ancient temple is located in the heart of Ongole city and is dedicated to Lord Rama. It's a peaceful place for devotees and visitors alike.</p>
      <a href="https://goo.gl/maps/xyz" class="map-button" target="_blank">View on Map</a>
    </div>
  </div>

  <div class="place">
    <img src="images/peddaganjam_prakasam.jpg" alt="Peddaganjam Beach">
    <div class="place-info">
      <h4>Peddaganjam Beach</h4>
      <p>A serene beach located near the town of Kothapatnam, perfect for relaxation and a peaceful retreat by the sea.</p>
      <a href="https://goo.gl/maps/xyz" class="map-button" target="_blank">View on Map</a>
    </div>
  </div>

  <div class="place">
    <img src="images/kondaveedu_prakasam.jpg" alt="Kondaveedu Fort">
    <div class="place-info">
      <h4>Kondaveedu Fort</h4>
      <p>Located atop a hill, Kondaveedu Fort offers panoramic views of the surrounding areas and has a rich historical significance.</p>
      <a href="https://goo.gl/maps/xyz" class="map-button" target="_blank">View on Map</a>
    </div>
  </div>
</body>
</html>
